/* About the Author Section  */
.aboutTheAuthorContents,
.aboutTheBookContents {
	padding-right: 70px;
}
.aboutTheAuthorImg {
	position: relative;
	margin-top: 20px;
	padding-top: 80px;
}
.aboutTheAuthorImg::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.45);
	position: absolute;
	top: -1.6rem;
	right: 2rem;
	width: 370px;
	height: 580px;
	padding-bottom: 1rem;
	z-index: 1;
}
.aboutTheAuthorImg img {
	width: 350px;
	margin: 0 auto 0 30px;
	display: block;
	z-index: 2;
	position: relative;
}

/* About the Book Section  */
.aboutTheBookImg img {
	width: 480px;
	margin: 0 auto;
	display: block;
}

/* Reviews Section  */
.reviewsImg {
	display: block;
	width: 600px;
	height: 600px;
	background: url('/review-bg.jpg') no-repeat;
	margin-top: 140px;
	position: relative;
}
.reviewsName {
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.reviewsName h2 {
	margin: 0;
}
.reviewsName span {
	font-size: 20px;
}
.reviewsContents {
	position: relative;
}
.reviewsContents::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.45);
	display: block;
	width: 600px;
	height: 600px;
	position: absolute;
	left: -140px;
}
.reviewsText {
	position: relative;
	padding-top: 130px;
	color: #fff;
}
.reviewsText::before,
.reviewsText::after {
	content: '';
	width: 98px;
	height: 89px;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}
.reviewsText::before {
	background-image: url('/quote-open.png');
	top: 0;
	left: -130px;
}
.reviewsText::after {
	background-image: url('/quote-close.png');
	bottom: -135px;
	right: 160px;
}
/* Contact Section  */
.contactImg {
	position: relative;
}
.contactImg::before {
	content: '';
	background: url('/contact-bg.jpg') no-repeat;
	background-size: cover;
	display: block;
	width: 600px;
	height: 600px;
	position: absolute;
	right: -140px;
	z-index: 1;
	opacity: .5;
	filter: brightness(20%);
	max-width: 100%;
}
.contactName {
	position: absolute;
	bottom: 255px;
	left: 30px;
	z-index: 2;
}
.contactName h2 {
	margin-bottom: 10px;
	font-size: 2.5em;
}
.contactName img {
	width: 58px;
}
.contactContents {
	background-color: #2a2a2a;
	margin-top: 140px;
	padding: 50px 40px 40px 180px;
	height: 600px;
}
.contactInfo h2 {
	font-size: 2.5em;
}
.contactInfo li:not(:first-child) {
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	font-size: 1.2rem;
}
.contactInfo li:not(:first-child)::before {
	content: '';
	position: absolute;
	left: 0;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.contactInfo li:nth-child(2)::before {
	top: 5px;
	width: 17px;
	height: 30px;
	background-image: url('/contact-icon-location.png');
}
.contactInfo li:nth-child(3)::before {
	top: 6px;
	width: 23px;
	height: 23px;
	background-image: url('/contact-icon-phone.png');
}
.contactInfo li:nth-child(4)::before {
	top: 11px;
	width: 25px;
	height: 17px;
	background-image: url('/contact-icon-mail.png');
}
.contactText {
	font-size: 1rem;
	line-height: 1.8rem;
	font-style: italic;
	color: #868585;
	margin-top: 50px;
}

@media only screen and (max-width:1400px){
	.aboutTheAuthorImg, .aboutTheBookImg {
	    margin-top: 0;
	    padding-top: 0;
	    display: flex;
	    align-items: center;
	}
	.aboutTheAuthorImg::before {
	    top: 0;
	    height: 100%;
	}
}

@media only screen and (max-width:1199px){
	.aboutTheAuthorImg img, .aboutTheBookImg img {
	    width: 300px;
	}
	.reviewsImg {
	    margin-top: 0;
	    height: 480px;
	}
	.reviewsContents{
		background-color: rgba(0, 0, 0, 0.45);
	    padding: 80px 40px 0;
	}
	.reviewsContents::before{
		display: none;
	}
	.reviewsText {
	    padding-top: 0;
	}
	.reviewsText::before, .reviewsText::after {
	    width: 60px;
	    height: 55px;
	}
	.reviewsText::before {
	    top: -65px;
	    left: 0;
	}
	.reviewsText::after {
	    bottom: -65px;
	    right: 0;
	}
	.contactImg::before {
	    height: 100%;
	    right: 0;
	}
	.contactContents {
	    margin-top: 0;
	    height: 480px;
	    padding: 40px;
	}
	.contactName {
	    bottom: 25px;
	}
}

@media only screen and (max-width:991px){
	.aboutTheAuthorImg::before {
	    display: none;
	}
	.aboutTheAuthorContents, .aboutTheBookContents {
	    padding-right: 15px;
	}
	.aboutTheAuthorImg img{
		margin-left: auto;
	}
	.reviewsContents {
	    padding: 0 15px;
	    display: flex;
	    align-items: center;
	}
	.contactContents {
	    height: auto;
	}
}

@media only screen and (max-width:767px){
	.aboutTheAuthor, .aboutTheBook, .reviews, .contact {
		background: url(/texture.png) #fff;
		color: #404040;
		margin: 20px;
	}
	.aboutTheAuthorImg, .aboutTheBookImg {
	    margin-bottom: 20px;
	}
	.reviewsContents {
	    background: none;
	}
	.reviewsText {
	    color: #404040;
	    margin: 70px 0;
	}
	.reviewsText::before, .reviewsText::after{
		opacity: .2;
	}
	.reviewsImg {
	    width: auto;
	    height: auto;
	    background: none;
	}
	.reviewsName {
	    position: static;
	}
	.contactImg::before{
		display: none;
	}
	.contactName {
	    position: static;
	}
	.contactContents{
		background: none;
    	padding: 40px 15px;
	}
}

@media only screen and (max-width:575px){
	.aboutTheAuthor, .aboutTheBook, .reviews, .contact {
	    margin: 10px;
	}
	.aboutTheAuthorImg img, .aboutTheBookImg img {
	    width: 250px;
	}
}